@import 'tailwindcss';
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
/* body {
  background-color: #171d31;
  color: white;
  margin: 0;
  padding: 0;
}

* {
  background-color: #171d32 !important;
  color: white !important;
} */
